.footer-nav {
  background-color: #1f1f1f;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer-nav button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
.footer-nav button:hover {
  text-decoration: underline;
}